*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.login-page{
    display:flex;
    min-height:100vh;
    font-family:'Segoe UI',sans-serif;
}



.login-left{
    flex:1;
    background-image:url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3");
    background-size:cover;
    background-position:center;
    position:relative;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.65);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:40px;
}

.overlay h1{
    font-size:3rem;
    margin-bottom:20px;
}

.overlay p{
    max-width:500px;
    font-size:18px;
    line-height:1.8;
}

/* RIGHT SIDE */

.login-right{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f7fa;
    padding:40px 20px;
}

.login-card{
    width:100%;
    max-width:420px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 20px 35px rgba(0,0,0,.12);
}

.login-card h2{
    text-align:center;
    margin-bottom:30px;
    color:#003366;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.input-group input{
    width:100%;
    padding:14px;
    border:1px solid #ccc;
    border-radius:10px;
    outline:none;
    font-size:16px;
    transition:.3s;
}

.input-group input:focus{
    border-color:#ff922b;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    font-size:14px;
}

.options a{
    text-decoration:none;
    color:#ff922b;
}

.login-button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#ff922b;
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.login-button:hover{
    background:#003366;
}

.signup-link{
    text-align:center;
    margin-top:25px;
    font-size:15px;
}

.signup-link a{
    color:#ff922b;
    text-decoration:none;
    font-weight:600;
    margin-left:5px;
}

.signup-link a:hover{
    text-decoration:underline;
}



@media (max-width:992px){

.login-page{
    flex-direction:column;
}

.login-left{
    height:320px;
}

.overlay h1{
    font-size:2.3rem;
}

.overlay p{
    font-size:16px;
}

.login-right{
    padding:50px 20px;
}

}



@media (max-width:576px){

.login-left{
    height:250px;
}

.overlay{
    padding:20px;
}

.overlay h1{
    font-size:2rem;
}

.overlay p{
    font-size:15px;
}

.login-card{
    padding:25px;
}

.options{
    flex-direction:column;
    align-items:flex-start;
    gap:12px;
}

.login-button{
    font-size:16px;
}

}