


.services-section{

    padding:5rem 2rem;

    background:#ffc078;

    font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;

}



.services-container{

    max-width:1280px;

    margin:0 auto;

}



.services-header{

    text-align:center;

    margin-bottom:4rem;

}



.services-badge{

    display:inline-block;

    background:
    rgba(30,111,159,.1);

    color:#1971c2;

    padding:.7rem 1.5rem;

    font-size:1rem;

    font-weight:600;

    letter-spacing:2px;

    border-radius:40px;

    margin-bottom:1rem;

}



.services-title{

    font-size:2.8rem;

    font-weight:700;

    color:#1971c2;

    margin-bottom:1rem;

}



.services-subtitle{

    max-width:900px;

    margin:auto;

    font-size:1.1rem;

    color:#212529;

    line-height:1.7;

    letter-spacing:1px;

}



.services-grid{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:2rem;

}



.service-card{

    border-radius:20px;

    padding:2rem 1.5rem;

    cursor:pointer;

    box-shadow:
    rgba(0,0,0,.25)
    0px 14px 28px;

    transition:.4s ease;

}



.service-card:hover{

    transform:
    translateY(-10px);

    background:#fff;

    box-shadow:
    0 25px 50px rgba(0,0,0,.18);

}


.service-icon{

    font-size:3rem;

    margin-bottom:1rem;

}



.service-title{

    font-size:1.3rem;

    font-weight:700;

    color:#1971c2;

    margin-bottom:1rem;

}



.service-description{

    font-size:1rem;

    color:#212529;

    line-height:1.7;

    margin-bottom:1.5rem;

}



.service-features{

    list-style:none;

    padding:0;

}



.service-features li{

    display:flex;

    gap:.5rem;

    align-items:center;

    font-size:.9rem;

    color:#212529;

    padding:.4rem 0;

}



.service-features li::before{

    content:"✔";

    color:#1971c2;

    font-weight:bold;

}



.service-button{

    margin-top:1rem;

    width:150px;

    padding:12px;

    border:none;

    border-radius:50px;

    background:#ff922b;

    color:white;

    cursor:pointer;

    font-weight:600;

    transition:.3s;

}



.service-button:hover{

    background:#1971c2;

}



@media(max-width:992px){


    .services-grid{

        grid-template-columns:
        repeat(2,1fr);

    }

    .services-title{

        font-size:2.2rem;

    }

}

@keyframes fadeUp {
    from {
        opacity:0;
        transform:translateY(60px);
    }

    to {
        opacity:1;
        transform:translateY(0);
    }

}


.service-card,
.service-title,
.services-badge,
.service-icon,
.services-subtitle{
    animation:
    fadeUp .8s ease forwards;
}




/* Phones */

@media(max-width:600px){


    .services-section{

        padding:
        3rem 1rem;

    }



    .services-grid{

        grid-template-columns:1fr;

    }



    .services-title{

        font-size:1.8rem;

    }



    .services-subtitle{

        font-size:.95rem;

    }



    .service-card{

        padding:1.5rem;

    }

}