*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.signup-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
    background:#ffc078;
    font-family:'Segoe UI',sans-serif;
}

.signup-card{
    width:100%;
    max-width:500px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 20px 35px rgba(0,0,0,.12);
}

.signup-header{
    text-align:center;
    margin-bottom:30px;
}

.signup-brand a{
    text-decoration:none;
    font-size:32px;
    font-weight:bold;
    color:#003366;
}

.signup-header h2{
    margin-top:15px;
    color:#003366;
}

.signup-header p{
    margin-top:8px;
    color:#666;
}

.signup-error{
    color:red;
    margin-top:15px;
    font-size:15px;
}

.signup-form-group{
    margin-bottom:20px;
}

.signup-form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
    color:#444;
    text-align: start;
}

.signup-form-group input{
    width:100%;
    padding:14px;
    border:1px solid #ccc;
    border-radius:10px;
    outline:none;
    font-size:16px;
    transition:.3s;
    margin-bottom:18px;
}

.signup-form-group input:focus{
    border-color:#ff922b;
}

.signup-button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#ff922b;
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.signup-button:hover{
    background:#003366;
}

.signup-button:disabled{
    opacity:.7;
    cursor:not-allowed;
}

.signup-switch{
    text-align:center;
    margin-top:25px;
    color:#666;
}

.signup-switch a{
    color:#ff922b;
    text-decoration:none;
    font-weight:600;
    margin-left:5px;
}

.signup-switch a:hover{
    text-decoration:underline;
}



@media (max-width:768px){

.signup-card{
    padding:30px;
}

.signup-brand a{
    font-size:28px;
}

.signup-header h2{
    font-size:26px;
}

}

@media (max-width:480px){

.signup-page{
    padding:20px;
}

.signup-card{
    padding:25px;
}

.signup-brand a{
    font-size:24px;
}

.signup-header h2{
    font-size:22px;
}

.signup-header p{
    font-size:15px;
}

.signup-form-group input{
    padding:12px;
}

.signup-button{
    font-size:16px;
}

}